@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Spectral:wght@400&display=swap&family=Lato:wght@400&display=swap");

p {
    font-family: "Lato", sans-serif;
}

h1,
h2 {
    font-family: "Spectral", serif;
}

.spectral {
    font-family: "Spectral", serif;
}

.lato {
    font-family: "Lato", sans-serif;
}

.raleway {
    font-family: "Raleway", sans-serif;
}

#charcoal {
    background-color: #264653;
}

#persian-green {
    background-color: #2a9d8f;
}

#orange-yellow {
    background-color: #e9c46a;
}

#sandy-brown {
    background-color: #f4a261;
}

#burnt-sienna {
    background-color: #e76f51;
}

.container {
    border: 5px solid black;
    padding: 20px;
}
